{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Courgette|Gloria+Hallelujah|Indie+Flower|Permanent+Marker|Varela+Round" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="content">
  <div id="pageintro">
    <article class="">
      <div class="welc">
        <p><strong><em>Welcome to One Minute Pitch.</em></strong></p>
        <div class="img">
          <img src="static/download (1).jpeg" alt="pitch">
        </div>


      </div>
      <div class="mess1">
        <p class="style"><em>“How did it get so late so soon?” </em></p>
        <p class="style"><strong>― Dr. Seuss</strong></p>
        <p><i>Don't be caught up in the same situation,</i> <strong><em>pitch</em></strong> now!</p>
      </div>

      <div class="btns">
        <button class="button" type="button" name="button" width="120%"> <span>Register</span> </button>
        <button class="button" type="button" name="button" width="100%"> <span>login</span> </button>
        <button class="button" type="button" name="button" width="220%"> <span>Pitch An Idea</span> </button>
        <button class="button" type="button" name="button" width="200%"> <span>View Pitches</span> </button>
      </div>
    </article>

  </div>

</div>


{% endblock %}
