{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Courgette|Gloria+Hallelujah|Indie+Flower|Permanent+Marker|Varela+Round" rel="stylesheet">{% endblock %}

{% block content %}


<div class="content">
  <div id="pageintro">
    <article class="">
      <div class="welc">
        <p><em>Are you looking to pitch an idea?</em></p>
        <br>
        <div class="img">
          <img src="static/download (1).jpeg" alt="pitch">
        </div>
        <p><strong>welcome to One Minute Pitch.</strong></p>

      </div>
      <div class="mess1">
        <p class="style"><em>“How did it get so late so soon?” </em></p>
        <p class="style"><strong>― Dr. Seuss</strong></p>
        <p>Don't be caught up in the same situation, <strong><em>pitch</em></strong> now!</p>

      </div>
    </article>

  </div>

</div>


{% endblock %}
